<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
</head>
<body>
<header th:fragment="post-header" th:action="@{__${requestURI}__}"
        th:object="${post}" class="py-2 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-3">
            <h1 class="fw-bolder" th:text="${action == 'update' ? 'Edit Post' : 'Create Post'}">Page info</h1>
        </div>
    </div>
</header>
<form th:fragment="post-form"
      th:action="@{__${requestURI}__}"
      th:object="${post}"
      method="post">
    <!-- Post Title -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="text-start fw-bold fs-5" th:text="#{post.label.title}">Title</div>
            <h2 class="card-title">
                <input type="text" class="form-control" th:field="*{title}" placeholder="Enter Post Title"
                       th:readonly="${action == 'update' and #authentication.principal.username != author}">
            </h2>
            <small class="text-danger" th:errors="*{title}"></small>

            <!-- Post Content -->
            <div class="text-start fw-bold fs-5" th:text="#{post.label.description}">Description</div>
            <p class="card-text">
        <textarea class="form-control" rows="4" th:field="*{content}" placeholder="Write your post content..."
                  th:readonly="${action == 'update' and #authentication.principal.username != author}"></textarea>
            </p>
            <small class="text-danger" th:errors="*{content}"></small>

            <!-- Tags -->
            <div th:if="${action == 'update'}">
                <div class="text-start fw-bold fs-5" th:text="#{post.label.tags}">Tags</div>

                <input type="text" class="form-control" th:field="*{tagNames}" placeholder="Add tags (comma-separated)">
                <small class="text-danger" th:errors="*{tagNames}"></small>
            </div>


            <!-- Form Buttons -->
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <span th:text="${action == 'update' ? 'Update Post' : 'Create Post'}"></span>
                </button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
            </div>
        </div>
    </div>

</form>
</body>
</html>