<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/Page-Layout :: head('About')}">About</head>
<header th:insert="~{fragments/Page-Layout :: navigation}"></header>
<body>
<header class="py-2 bg-light border-bottom">
    <div class="container">
        <div class="text-center my-3">
            <h1 class="fw-bolder" th:text="#{about.title}">About title</h1>

        </div>
    </div>
</header>
<div class="body-content">
    <div class="border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <p class="lead mb-0" th:utext="#{about.description}">About Description</p>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
</body>
</html>