<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/PageLayout :: head('Login')}">Login</head>
<header th:insert="~{fragments/PageLayout :: header}"></header>
<body>
<div class="form-container margin12">
  <form action="#" th:action="@{/mvc/auth/login}" th:object="${loginDto}" method="post">
    <div class="form-group">
      <label class="form-label" th:text="#{user.label.username}">Username</label>
      <input class="form-input" type="text" th:field="*{username}" placeholder="Enter Username"/>
      <label class="form-error" th:if="${errorMessage}" th:text="${errorMessage}">Username error placeholder! </label>
    </div>

    <div class="form-group">
      <label class="form-label" th:text="#{user.label.password}">Password</label>
      <input class="form-input" type="password" th:field="*{password}" placeholder="Enter Password"/>
    </div>

    <div class="form-group">
      <input type="submit" class="btn-primary form-button" value="Login"/>
    </div>
  </form>

</div>

<h3 class="center-h3">
  <p>Not a user yet?</p>
  <a class="btn-primary" th:href="@{mvc/auth/register}">Register</a>
</h3>


</body>
<footer th:insert="~{fragments/PageLayout :: footer}"></footer>
</html>