<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/Page-Layout :: head('New Post')}">New Post</head>
<header th:insert="~{fragments/Page-Layout :: navigation}"></header>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="p-5">
                <!-- Post content-->
                <div class="text-center">
                    <h1 class="fw-bolder mb-1" th:text="#{post.label.new}">New</h1>
                    <br/>
                    <div class="text-center">
                        <article>
                            <form th:replace="/fragments/Post-Form-Fragment.html :: post-form"></form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
</body>
</html>