<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/Page-Layout :: head('New Post')}">
    <title>New Post</title>
</head>
<body>
<!-- Insert the navigation fragment -->
<header th:insert="~{fragments/Page-Layout :: navigation}"></header>

<!-- Replace the post-header fragment -->
<header th:replace="~{fragments/Post-Form-Fragment :: post-header}"></header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="p-5">
                <!-- Post content -->
                <div class="text-center">
                    <h1 class="fw-bolder mb-1" th:text="#{post.label.new}">New</h1>
                    <br/>
                    <div class="text-center">
                        <article>
                            <!-- Replace the post-form fragment -->
                            <form th:replace="~{fragments/Post-Form-Fragment :: post-form}"></form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Insert the footer fragment -->
<footer th:insert="~{fragments/Page-Layout :: footer}"></footer>
</body>
</html>