<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/PageLayout :: head('Register')}">Register</head>
<header th:insert="~{fragments/PageLayout :: header}"></header>
<body>
<div class="form-container margin12">
    <form action="#" th:action="@{/mvc/auth/register}" th:object="${registerRequest}" method="POST">

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.firstName}">First Name</label>
            <input class="form-input" type="text" th:field="*{firstName}" placeholder="First Name"/>
            <label class="form-error" th:if="${#fields.hasErrors('firstName')}"
                   th:text="${#fields.errors('firstName')[0]}">First Name error placeholder! </label>
        </div>

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.lastName}">Last Name</label>
            <input class="form-input" type="text" th:field="*{lastName}" placeholder="Last Name"/>
            <label class="form-error" th:if="${#fields.hasErrors('lastName')}"
                   th:text="${#fields.errors('lastName')[0]}">Last Name error placeholder! </label>
        </div>

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.email}">Username</label>
            <input class="form-input" type="text" th:field="*{email}" placeholder="Enter Username"/>
            <label class="form-error" th:if="${#fields.hasErrors('email')}"
                   th:text="${#fields.errors('email')[0]}">Email error placeholder! </label>
        </div>

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.username}">Username</label>
            <input class="form-input" type="text" th:field="*{username}" placeholder="Enter Username"/>
            <label class="form-error" th:if="${#fields.hasErrors('username')}"
                   th:text="${#fields.errors('username')[0]}">Username error placeholder! </label>
        </div>

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.password}">Password</label>
            <input class="form-input" type="password" th:field="*{password}" placeholder="Enter Password"/>
            <label class="form-error" th:if="${#fields.hasErrors('password')}"
                   th:text="${#fields.errors('password')[0]}">Username error placeholder! </label>
        </div>

        <div class="form-group">
            <label class="form-label" th:text="#{user.label.passwordConfirm}">Confirm Password</label>
            <input class="form-input" type="password" th:field="*{passwordConfirm}" placeholder="Confirm Password"/>
            <label class="form-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                   th:text="${#fields.errors('passwordConfirm')[0]}">Password Confirmation error placeholder! </label>
        </div>

        <div class="form-group">
            <input type="submit" class="btn-primary form-button" value="Register"/>
        </div>
    </form>

</div>

<h3 class="center-h3">
    <p>Already have an account?</p>
    <a class="btn-primary" href="/mvc/auth/login">Login</a>
</h3>


</body>
<footer th:insert="~{fragments/PageLayout :: footer}"></footer>
</html>